/* Write your global styles here, in PostCSS syntax */

/* Import base styles from Skeleton UI */
@import "@skeletonlabs/skeleton/themes/theme-skeleton.css";
@import "@skeletonlabs/skeleton/styles/skeleton.css";

/* Import base, components, utilities, and variants from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Uncomment the following lines if you want to customize the Skeleton theme */
/* 
@import "@skeletonlabs/skeleton/dist/styles/partials/core.css";
@import "@skeletonlabs/skeleton/dist/styles/partials/typography-next.css";
@import "@skeletonlabs/skeleton/dist/styles/partials/elements.css";
@import "@skeletonlabs/skeleton/dist/styles/partials/variants.css"; 
*/
